# from: https://github.com/phusion/debian-packaging-for-the-modern-developer/blob/master/.gitignore
debhelper-build-stamp
.DS_Store
.debhelper
*.deb
*.ddeb
*.dsc
*.build
*.buildinfo
*.changes
*.tar.gz
*.log
*.substvars
/.vagrant
/*/debian/hello
/*/debian/files
/*/hello
/tutorial-1/packageroot/usr
